<div class="header" id="myHeader">
  <div class="container-fluid">
    <div class="row">
      <div class="vc">
        <div class="image col-md-4">
          <a href="../header"><img src="/assets/finallogo.png" style="width: 250px;"></a>
        </div>

        <div class="num hidden-xs col-md-7">
          <h4 style="width: 250px; float: right;"><span class="glyphicon glyphicon-earphone"></span>+91-1234567890
          </h4>

        </div>
        <div class="col-md-1" style="text-align: center;">
          <i class="fa fa-2x fa-facebook-square"></i>&nbsp;&nbsp;
          <i class="fa fa-2x fa-instagram"></i>
        </div>
      </div>
    </div>

    <hr align="center" width="80%">

    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>


        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <div class="dropdown">
              <li class="dropbtn"><a href="../servicecon">SERVICES</a></li>
              <div class="dropdown-content">
                <div class="col-md-6">
                  <p>Skin Care Management </p>
                  <p>Laser Therapy</p>
                  <p>HydraFacial</p>
                </div>
                <div class="col-md-6">
                  <p>Cosmetic Dermatology</p>
                  <p>Quality Environment</p>
                </div>
              </div>
            </div>
            <li class=""><a href="../header">HOME</a></li>
            <li><a href="#section1">ABOUT US</a></li>
            <li><a href="#section3">DOCTORS</a></li>
            <li><a href="#section4">BLOG</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#section5">CONTACT US</a></li>
            <li class="app"><a href="#section6">BOOK AN APPOINTMENT</a></li>
            <!-- <div class="search-container">
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div> -->
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- -------------------------------Content starts---------------------------- -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 cover">
      <h2>Meet Experts</h2>
      <h1>Customized Skin Care</h1>
      <p>I’d like to share with you a plugin I wrote that makes it really
        <br>easy to handle all kinds of animations
        with full CSS.</p>
      <button>
        READ MORE >
      </button>
    </div>
  </div>
</div>
<app-types></app-types>

<div id="section1">
  <app-about></app-about>
</div>
<div id="section2">
  <app-services></app-services>
</div>

<div id="section3">
  <app-dermatologist></app-dermatologist>
</div>
<app-count></app-count>
<app-facts></app-facts>
<app-reviews></app-reviews>
<div id="section4">
  <app-news></app-news>
</div>

<div id="section5">
  <app-contact></app-contact>
</div>

<div class="container-fluid">
  <div class="row" style="margin-top: 20px; min-height: 80px;">
    <div class="col-md-4 text-center">
      <h4>Want Receive Fresh <br>News?</h4>
    </div>
    <div class="col-md-4 text-center">
      <p>I’d like to share with you a plugin I wrote that makes it really
        <br>easy to handle all kinds of animations
        with full CSS.</p>
    </div>
    <div class="col-md-4 text-center subscribe">
      <button>
        SUBSCRIBE
      </button>
    </div>
  </div>
</div>
<div id="section6">
  <app-appointment></app-appointment>
</div>
<app-footer></app-footer>