<div class="vc">

  <div class="image col-md-4">
    <a href="../home"><img src="/assets/finallogo.png" style="width: 250px; float: right;"></a>
  </div>

  <div class="num hidden-xs col-md-6">
    <h4 style="width: 250px; float: right;"><span class="glyphicon glyphicon-earphone"></span>+91-1234567890</h4>
  </div>

</div>

<hr align="center" width="90%">

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse" id="myNavbar">
      <!-- <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> -->
      <ul class="nav navbar-nav">
        <li class=""><a href="../home">HOME</a></li>
        <li><a href="../about">ABOUT US</a></li>
        <li><a href="../services">SERVICES</a></li>
        <li><a href="../dermatologist">OUR STAFF</a></li>
        <li><a href="../appointment">APPOINTMENT</a></li>
        <li><a href="../news">BLOG</a></li>
        <li><a href="../home">SHOP</a></li>
        <li><a href="../contact">CONTACT US</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>