<section id="footer">
    <div class="container-fluid">
        <div class="row text-center" style="padding:30px;">
            <div class="col-md-3">
                <h2>About Us</h2>
                <p>Subscribe to our <br>newsletter You can be<br> always up to
                    date with our <br>Dermatology Clinic and <br>Cosmetic
                    Center news!</p>
                <!-- <img src="/assets/finallogo.png" style="width: 200px;"> -->
            </div>
            <div class="col-md-3">
                <h2>Quick links</h2>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Contact Us</h2>
                <p>+91-1234567890</p>

            </div>
            <div class="col-md-3">
                <h2>Quick links</h2>
                <p>Subscribe to our newsletter You can be always up to
                    date with our Dermatology Clinic and Cosmetic
                    Center news!</p>
            </div>
        </div>

    </div>

    <div class="copyrights  text-center">
        <h6> Eternoderm © 2019. All Rights Reserved</h6>
    </div>

</section>