<section id="footer">
    <div class="container-fluid">
        <div class="row text-center" style="padding:30px;">
            <div class="col-md-3">
                <img src="/assets/finallogo.png" style="width: 200px;">
            </div>
            <div class="col-md-3">
                <label>Firstname:</label>
                <input type="text" class="form-control" placeholder="Enter Name" formControlName="firstname">
                <label>Lastname:</label>
                <input type="text" class="form-control" placeholder="Enter Name" formControlName="Lastname">
                <label>Email:</label>
                <input type="email" class="form-control" placeholder="Enter Name" formControlName="Email">
            </div>
            <div class="col-md-3">
                <h2>Quick links</h2>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Quick links</h2>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="copyrights  text-center">
        <h6> Eternoderm © 2019. All Rights Reserved</h6>
    </div>

</section>