<!-- <div class="container-fluid">
    <div class="row" style="padding: 20px;">
        <div class=" col-md-3 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                <div id="num"><span class="count">250</span></div>
                <p>Cosmetic Surgeries.
                </p>
            </div>
        </div>
        <div class=" col-md-3 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                <div id="num"><span class="count">500</span></div>
                <p>Hair Transplants.
                </p>
            </div>
        </div>
        <div class=" col-md-3 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                <div id="num"><span class="count">100</span></div>
                <p>Dermatology Specialists.
                </p>
            </div>
        </div>
        <div class=" col-md-3 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                <div id="num"><span class="count">100</span></div>
                <p>Awards Winning.
                </p>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row" style="padding: 20px;">
        <div class=" col-md-3 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-flask" aria-hidden="true"></i>
                <h2>250+</h2>
                <p>Cosmetic Surgeries.
                </p>
            </div>
        </div>
        <div class=" col-md-3 text-center">
            <div class="service-box">
                    <i class="fa fa-4x fa-rocket" aria-hidden="true"></i>
                <h2>500+</h2>
                <p>Hair Transplants.
                </p>
            </div>
        </div>
        <div class=" col-md-3 text-center">
            <div class="service-box">
                    <i class="fa fa-4x fa-users" aria-hidden="true"></i>
                <h2>100+</h2>
                <p>Dermatology Specialists.
                </p>
            </div>
        </div>
        <div class=" col-md-3 text-center">
            <div class="service-box">
                    <i class="fa fa-4x fa-trophy" aria-hidden="true"></i>
                <h2>200+</h2>
                <p>Awards Winning.
                </p>
            </div>
        </div>
    </div>
</div> 