<div class="container-fluid">
    <div class="row" style="margin-top: 50px;">
        <div class=" col-md-6 text-center">
            <div class="service-box">
                <img src="/assets/doc.jpg">
                <p>"We trust that helping other's can bring more <br>happiness to our own life. We are available."</p>
            </div>
        </div>
        <div class=" col-md-6 text-center">
            <div class="para">
                <h2>Welcome to Dr. Anna Rogers</h2>
                <h1>About Piel <span>Dermatologist</span></h1>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English.
                </p>
            </div>
            <div class="content">
                <h4><span class="glyphicon glyphicon-ok"></span> We Understand your skin</h4>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>
                <h4><span class="glyphicon glyphicon-ok"></span> 30 Years Experienced</h4>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>
                <h4><span class="glyphicon glyphicon-ok"></span>Free Consultation</h4>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>
                <h4><span class="glyphicon glyphicon-ok"></span> Rapid Emergency Treatments</h4>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>
            </div>
            <div class="row" style="text-align: start;margin-bottom: 30px;">
                <div class="col-md-4 about">
                    <button>
                        ABOUT US
                    </button>
                </div>
                <div class="col-md-4 choose">
                    <button>
                        WHY CHOOSE US
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>