<div class="container-fluid">
    <div class="row" style="padding: 20px;">
        <div class=" col-md-4 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                <h3>Advanced Dermatology</h3>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters.
                </p>
                <h5>Learn More...</h5>
            </div>
        </div>
        <div class=" col-md-4 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                <h3>Cosmetic Dermatology</h3>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters.
                </p>
                <h5>Learn More...</h5>
            </div>
        </div>
        <div class=" col-md-4 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                <h3>Laser Dermatology</h3>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters.
                </p>
                <h5>Learn More...</h5>
            </div>
        </div>
    </div>
</div>