<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 cover">
            <div class=" col-md-6">
                <div class="service-box">
                    <!-- <img src="/assets/doc.jpg"> -->
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="para">
                    <h4>CONTACT US</h4>
                    <h3>Want to book an appointment with us? Fill up the form below to get appointment.</h3>
                </div>
                <div class="content">
                    <input type="text" class="form-control" placeholder="Full Name" formControlName="firstname">
                    <input type="text" class="form-control" placeholder="Email Address" formControlName="Lastname">
                    <input type="email" class="form-control" placeholder="Phonenumber" formControlName="Email">
                    <textarea rows="4" cols="50" placeholder="Your Message here..."></textarea>
                </div>
                <div class="row">
                    <div class="col-md-4 about">
                        <button>
                            SEND MESSAGE
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>