<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center appointment">
            <img src="https://cdn0.iconfinder.com/data/icons/simgeler-reward/512/Insignia-512.png">
            <h2>ITS FOR YOUR GREAT SKIN!</h2>
            <p>I’d like to share with you a plugin I wrote that makes it really
                easy to handle all kinds of animations
                with full CSS.</p>
            <button>
                FIX AN APPOINTMENT
            </button>
        </div>
    </div>
</div>