<div class="header" id="myHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="vc">
                <div class="image col-md-4">
                    <a href="../header"><img src="/assets/finallogo.png" style="width: 250px;height: 100px;"></a>
                </div>

                <div class="num hidden-xs col-md-7">
                    <h4 style="width: 250px; float: right;"><span
                            class="glyphicon glyphicon-earphone"></span>+91-1234567890
                    </h4>

                </div>
                <div class="col-md-1" style="text-align: center;">
                    <i class="fa fa-2x fa-facebook-square"></i>&nbsp;&nbsp;
                    <i class="fa fa-2x fa-instagram"></i>
                </div>
            </div>
        </div>

        <hr align="center" width="80%">

        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <div class="dropdown">
                            <li class="dropbtn"><a href="../servicecon">SERVICES</a></li>
                            <div class="dropdown-content">
                                <div class="col-md-6">
                                    <p>Skin Care Management </p>
                                    <p>Laser Therapy</p>
                                    <p>HydraFacial</p>
                                </div>
                                <div class="col-md-6">
                                    <p>Cosmetic Dermatology</p>
                                    <p>Quality Environment</p>
                                </div>
                            </div>
                        </div>
                        <li class=""><a href="../header">HOME</a></li>
                        <li><a href="#section1">ABOUT US</a></li>
                        <li><a href="#section3">DOCTORS</a></li>
                        <li><a href="#section4">BLOG</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#section5">CONTACT US</a></li>
                        <li class="app"><a href="#section6">BOOK AN APPOINTMENT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row" style="padding: 20px;">
        <h4>BEST SERVICES</h4>
        <h3 style="color: white;">EXPLORE OUR BEST DERMATOLOGY SERVICES</h3>

        <div class=" col-md-4 text-center">
            <div class="service-box">
                <img src="https://www.luxurylifestylemag.co.uk/wp-content/uploads/2017/05/shutterstock_513209725.jpg">
                <h3>Skin Care Management</h3>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page.
                </p>
            </div>
        </div>
        <div class=" col-md-4 text-center">
            <div class="service-box">
                <img
                    src="https://trk.localvox.com/sites/default/files/styles/480x240/public/content_images/depositphotos_91808686_l-2015.jpg?itok=Yd9v_3gS">
                <h3>Laser Therapy</h3>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page.
                </p>
            </div>
        </div>
        <div class=" col-md-4 text-center">
            <div class="service-box">
                <img src="https://www.saveface.co.uk/wp-content/uploads/2016/10/dermal-rej-small.png">
                <h3>Cosmetic Dermatology</h3>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page.
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 20px;">
        <div class=" col-md-4 text-center">
            <div class="service-box">
                <img
                    src="https://images.ctfassets.net/ydv6sq0kb5bw/4CvMXDxW1GI8EKyigSaeke/065e59420ae3bf1ccae126b2e8a3bb1e/Secrets_for_naturally_healthy_and_beautiful_skin.jpg?w=1200&h=630&fit=fill&fm=jpg&fl=progressive">
                <h3>HydraFacial</h3>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page.
                </p>
            </div>
        </div>
        <div class=" col-md-4 text-center">
            <div class="service-box">
                <img
                    src="https://ath2.unileverservices.com/wp-content/uploads/sites/3/2017/10/comb-over-hairstyles-mens-pomp.jpg">
                <h3>Skin Care Management</h3>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page.
                </p>
            </div>
        </div>
        <div class=" col-md-4 text-center">
            <div class="service-box">
                <img src="https://www.lunas.pro/wp-content/uploads/2019/05/interior-3d-render-bedchamber.jpg">
                <h3>Quality Environment</h3>
                <p>Our templates are updated regularly so they don't break.
                    It is a long established fact that a reader will be distracted by the readable content of a page.
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>