<div class="container-fluid">
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://www.emporiasalonanddayspa.com.au/ressources/images/e7910f9b4129.jpg"
                        style="width:100%;">
                    <div class="carousel-caption">
                        <h3>AWESOME REVIEWS</h3>
                        <h4>WHAT OUR CUSTOMER SAYS ABOUT US</h4>
                        <img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_boy_man_people_account_client_male_person_user_work_sport_beard_team_glasses-512.png"
                            alt="Avatar" class="avatar">
                        <p>The outermost slide class adds a CSS transition and animation effect, which makes the items
                            slide when showing a new item. Omit this class if you do not want this effect. The
                            data-ride="carousel" attribute tells Bootstrap to begin animating the carousel immediately
                            when the page loads</p>
                        <h5>John Doe - Google Ads</h5>
                    </div>
                </div>

                <div class="item ">
                    <img src="https://www.emporiasalonanddayspa.com.au/ressources/images/e7910f9b4129.jpg"
                        style="width:100%;">
                    <div class="carousel-caption">
                        <h3>AWESOME REVIEWS</h3>
                        <h4>WHAT OUR CUSTOMER SAYS ABOUT US</h4>
                        <img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_boy_man_people_account_client_male_person_user_work_sport_beard_team_glasses-512.png"
                            alt="Avatar" class="avatar">
                        <p>The outermost slide class adds a CSS transition and animation effect, which makes the items
                            slide when showing a new item. Omit this class if you do not want this effect. The
                            data-ride="carousel" attribute tells Bootstrap to begin animating the carousel immediately
                            when the page loads</p>
                        <h5>John Doe - Google Ads</h5>
                    </div>
                </div>

                <div class="item">
                    <img src="https://www.emporiasalonanddayspa.com.au/ressources/images/e7910f9b4129.jpg"
                        style="width:100%;">
                    <div class="carousel-caption">
                        <h3>AWESOME REVIEWS</h3>
                        <h4>WHAT OUR CUSTOMER SAYS ABOUT US</h4>
                        <img src="https://cdn0.iconfinder.com/data/icons/avatars-6/500/Avatar_boy_man_people_account_client_male_person_user_work_sport_beard_team_glasses-512.png"
                            alt="Avatar" class="avatar">
                        <p>The outermost slide class adds a CSS transition and animation effect, which makes the items
                            slide when showing a new item. Omit this class if you do not want this effect. The
                            data-ride="carousel" attribute tells Bootstrap to begin animating the carousel immediately
                            when the page loads</p>
                        <h5>John Doe - Google Ads</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>