<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 cover">
            <h2>Meet Experts</h2>
            <h1>Customized Skin Care</h1>
            <p>I’d like to share with you a plugin I wrote that makes it really
                <br>easy to handle all kinds of animations
                with full CSS.</p>
            <button>
                READ MORE >
            </button>
        </div>
    </div>
</div>
<app-types></app-types>
<app-about></app-about>
<app-services></app-services>
<app-dermatologist></app-dermatologist>
<app-count></app-count>
<app-facts></app-facts>
<app-reviews></app-reviews>
<app-news></app-news>
<app-contact></app-contact>
<div class="container-fluid">
    <div class="row" style="margin-top: 20px; min-height: 80px;">
        <div class="col-md-4 text-center">
            <h4>Want Receive Fresh <br>News?</h4>
        </div>
        <div class="col-md-4 text-center">
            <p>I’d like to share with you a plugin I wrote that makes it really
                <br>easy to handle all kinds of animations
                with full CSS.</p>
        </div>
        <div class="col-md-4 text-center subscribe">
            <button>
                SUBSCRIBE
            </button>
        </div>
    </div>
</div>
<app-appointment></app-appointment>
<app-footer></app-footer>